*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color:white;
}
html,
body{
  height:100;
  width:100%;
  background-color: black;
}
.parent{
  padding :20px;
  display:flex;
  gap: 20px;
  flex-wrap: wrap;
  /* aoutomatic next line me chalejayenge items by using Wrap */
}
.card{
  width:300px;
  border:1px solid white;
  padding:20px;
  text-align: center;
  background-color: #222;
  border-radius:10px



}

.card p{
  margin: 20px 0px;
}
.card button{
  padding:10px 20px;
  background-color: white;
  color:black;
  border:none;
  border-radius:5px;
}
.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}