*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'helvetica';
}
html,
body{
  height: 100%;
  width:100%;

}

.parent{
  /* height:100%; */
  min-height: 100vh;
  width:100%;
  background-color: rgb(18, 18, 18);
  padding:30px;
  gap:30px;
  display: flex;
  flex-wrap: wrap;
  /* color:white;? */
}
.card{
  background-color: white;
  width:290px;
  height: 300px;
  border-radius: 30px;
  padding: 30px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}
.card .top{
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

}
.top img{
  height: 40px;
  width:40px;
  border-radius: 50%;
  border: 1px solid black;
  padding :2px;
}
.top button{
  display: flex;
  align-items: center;
  border:1px solid #dadada;
  padding:4px 8px;
  font-size:15px;
  border-radius:5px;
  gap:3px;
  background-color: transparent;
  color:#b1b1b1;
  cursor: pointer;
}

.center h3{
  /* background-color: red;
   */
   font-size:15px;
   font-weight:500;
}
.center h3 span{
  font-size: 10px;
  font-weight: 400px;
  color:#b8b8b8
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display:flex;
  margin-top: 10px;
  gap:5px;
}
.center .tag h4{
  font-size: 13px;
  background-color: #dadada;
  border-radius:5px;
  color:#111;
  padding: 4px 8px;
  font-weight: 500;
}


.bottom{
  padding-top:15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top:1px solid #b1b1b1
}
.bottom button{
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
  padding:5px 10px;
  border-style: none;
  font-weight: 600;
  cursor:pointer;


}
.bottom h3{
  font-size: 19px;
}
.bottom p{
  font-size:12px;
  color:#8b8b8b
}