.login-container{
  
    width:300px;
    padding: 20px;
    margin:100px auto;
    border:1px solid #ccc;
    border-radius: 12px;
    text-align: center;
    background-color:#d64c4c;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}
.login-input{
    width:90%;
    padding: 10px;
    background-color: whitesmoke;
    color: rgb(20, 20, 20);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
/* .login-btn{
    background-color: rgb(165, 99, 42);
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
} */
 .login-btn {
    margin-top: 40px;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  background: linear-gradient(135deg, #4b7fff, #003cff);
  color: white;

  box-shadow: 0px 5px 15px rgba(0, 60, 255, 0.4),
              0px 0px 10px rgba(0, 136, 255, 0.4);

  transition: 
      transform 0.2s ease,
      box-shadow 0.3s ease,
      background 0.3s ease;
}

.login-btn:hover {
  background: linear-gradient(135deg, #6f94ff, #1a4dff);
  transform: translateY(-3px);
  
  box-shadow: 0px 8px 20px rgba(0, 60, 255, 0.5),
              0px 0px 15px rgba(0, 136, 255, 0.6);
}

.login-btn:active {
  transform: scale(0.95);
  box-shadow: 0px 3px 8px rgba(0, 60, 255, 0.3);
}


